﻿@model IEnumerable<KingBugTracker.Models.RolesViewModel>


@{
    ViewBag.Title = "Roles";
}

<h2>@ViewBag.Title</h2>


@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>*@
<table class="table">
    <tr>
        @*<th>
                @Html.DisplayNameFor(model => model.RoleId)
            </th>*@
        <th>
            @Html.DisplayNameFor(model => model.RoleName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            @*<td>
                    @Html.DisplayFor(modelItem => item.RoleId)
                </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.RoleName)
            </td>
            <td>
                <a href="@Url.Action("Edit", "Roles", new { id = item.RoleId })" class="btn btn-priamry"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
                @*<a href="@Url.Action("Details", "Roles", new { id = item.RoleId })" class="btn btn-priamry"><span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span></a>*@
            </td>
        </tr>
    }
</table>
