﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap core CSS -->
    <link href="~/Lib/Template/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template -->
    <link href="~/Lib/Template/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- Plugin CSS -->
    <link href="~/Lib/Template/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="~/Lib/Template/css/sb-admin.css" rel="stylesheet">

    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body>
    @*<div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (User.IsInRole("Admin"))
                    {
                        <li>@Html.ActionLink("Users Management", "UserList", "Manage")</li>
                    }
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>*@    <!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <a class="navbar-brand" href="#">KingBugtracker</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav navbar-sidenav">
            <li class="nav-item active" data-toggle="tooltip" data-placement="right" title="Dashboard">
                <a class="nav-link" href="@Url.Action("Index", "Home")">
                    <i class="fa fa-fw fa-dashboard"></i>
                    <span class="nav-link-text">
                        Dashboard
                    </span>
                </a>
            </li>
            @if (Request.IsAuthenticated)
            {
                if (User.IsInRole("Admin"))
                {
                    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Tables">
                        <a class="nav-link" href="@Url.Action("UserList", "Manage")">
                            <i class="fa fa-fw fa-table"></i>
                            <span class="nav-link-text">
                                User Management

                            </span>
                        </a>
                    </li>
                }
            } @if (Request.IsAuthenticated)
            {
                if (User.IsInRole("Developer"))
                {
                    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Tables">
                        <a class="nav-link" href="@Url.Action("Index", "Notifications")">
                            <i class="fa fa-fw fa-table"></i>
                            <span class="nav-link-text">
                                Notifications

                            </span>
                        </a>
                    </li>
                }
            }
                   @*<li class="nav-item" data-toggle="tooltip" data-placement="right" title="Tables">
                        <a class="nav-link" href="@Url.Action("UserList", "Manage")">
                            <i class="fa fa-fw fa-table"></i>
                            <span class="nav-link-text">
                                User Management

                            </span>
                        </a>
                    </li>*@
             <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Components">
                <a class="nav-link" href="@Url.Action("ChangePassword", "Manage")">
                    <i class="fa fa-fw fa-wrench"></i>
                    <span class="nav-link-text">
                        User Account
                    </span>
                </a>
            </li>
        </ul>
        <ul class="navbar-nav sidenav-toggler">
            <li class="nav-item">
                <a class="nav-link text-center" id="sidenavToggler">
                    <i class="fa fa-fw fa-angle-left"></i>
                </a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            

            <li class="nav-item">
                <form class="form-inline my-2 my-lg-0 mr-lg-4">
                    <div class="input-group">
                       
                        <span class="input-group-btn">
                            
                        </span>
                    </div>
                </form>
            </li>
            @*<li class="nav-item">
                <a class="nav-link" data-toggle="modal" data-target="#exampleModal">
                    <i class="fa fa-fw fa-sign-out"></i>
                    Logout
                </a>
            </li>*@
        </ul>

        @Html.Partial("_LoginPartial")


    </div>
</nav>


        <div class="content-wrapper py-3">
            <div class="container-fluid">
                @RenderBody()
                <hr />
                <footer>
                        <p>&copy; King Xiong @DateTime.Now.Year</p>
                    </footer>
            </div>
            </div>

            @*@Scripts.Render("~/bundles/jquery")
                @Scripts.Render("~/bundles/bootstrap")
                @Scripts.Render("~/bundles/modernizr")*@

            <!-- Bootstrap core JavaScript -->
            <script src="~/Lib/Template/vendor/jquery/jquery.min.js"></script>
            <script src="~/Lib/Template/vendor/popper/popper.min.js"></script>

            <script src="~/Lib/Template/vendor/bootstrap/js/bootstrap.min.js"></script>
            <!-- Plugin JavaScript -->
            <script src="~/Lib/Template/vendor/jquery-easing/jquery.easing.min.js"></script>
            <script src="~/Lib/Template/vendor/chart.js/Chart.min.js"></script>
            <script src="~/Lib/Template/vendor/datatables/jquery.dataTables.js"></script>
            <script src="~/Lib/Template/vendor/datatables/dataTables.bootstrap4.js"></script>
            <!-- Custom scripts for this template -->

            <script src="~/Lib/Template/js/sb-admin.js"></script>
            <script>

                $(document).ready(function () {
                    $(".dataTable1").dataTable();
                });
                $(document).ready(function () {
                    $('.dataTable2').dataTable();
                });
                $(document).ready(function () {
                    $(".dataTable3").dataTable();
                });
                $(document).ready(function () {
                    $('.dataTable4').dataTable();
                });
            </script>
            @RenderSection("scripts", required: false)

</body>
</html>
