﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right", style = "color:white" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @*@Html.ActionLink(User.Identity.GetUserName(), "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })*@
            @Html.ActionLink("Hello " + Html.Raw(Html.Action("GetCurrentUserName", "Account")), "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", style="color:white"}) <text>&nbsp;</text> |
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()" style="color:white">|<text>&nbsp;</text> Log off</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", style = "color:white" }) <text>&nbsp;</text></li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", style = "color:white" })</li>
    </ul>
}
