﻿@model KingBugTracker.Models.Ticket
@{
    ViewBag.Title = "Ticket Assignment";
    var oldAssignedToUserId = "";
    if (Model.AssignedToUserId != null)
    {
        oldAssignedToUserId = Model.AssignedToUserId.ToString();
    }
}
<h2>@Model.Title</h2>
@using (Html.BeginForm("TicketAssign", "Tickets", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Ticket Assignment</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.Title)
    @Html.HiddenFor(model => model.Body)
    @Html.HiddenFor(model => model.AuthorUserId)
    @Html.HiddenFor(model => model.ProjectId)
    @Html.HiddenFor(model => model.PriorityId)
    @Html.HiddenFor(model => model.StatusId)
    @Html.HiddenFor(model => model.TypeId)
    @Html.HiddenFor(model => model.Created)
    @Html.HiddenFor(model => model.Updated)
    <input type="hidden" name="oldAssignedToUserId" id="oldAssignedToUserId" value="@oldAssignedToUserId" />
    <div class="form-group">
        @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10" style="padding-top: 7px">
            @Html.DisplayFor(model => model.Title)
        </div>
    </div>
    <div class="form-group">
        <div class="control-label col-md-2">
            <strong>Assign To User</strong>
        </div>
        <div class="col-md-10">
            @Html.DropDownList("AssignedToUserId", null, htmlAttributes: new { @class = "form-control", Style = "width:100%" })
            @Html.ValidationMessageFor(model => model.AssignedToUserId, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Assign User" class="btn btn-success" />
            @Html.ActionLink(linkText: "Dashboard", actionName: "Index", controllerName: "Home", routeValues: "", htmlAttributes: new { @class = "btn btn-default" })
        </div>
    </div>
}