﻿@model IEnumerable<KingBugTracker.Models.Project>
@using Microsoft.AspNet.Identity;
@using PagedList;
@using PagedList.Mvc;
@if (Request.IsAuthenticated)
{
}
else
{
    <h2 > Please log in</h2>
    <h2 > or register to view my bug tracker</h2>
    <a href = "@Url.Action("Login", "Account")"> Log in</a >
}

@if (Request.IsAuthenticated)
{
    if (User.IsInRole("Admin") || User.IsInRole("Project Manager") || User.IsInRole("Guest"))
    {
         <!-- Breadcrumbs -->
        var ticketCount = 0;
        var projectCount = 0;
        foreach (var item in Model)
        {
            foreach (var ticket in item.Tickets)
            {
                ticketCount++;
            }
            projectCount++;
        }

        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="#">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">My Dashboard</li>
        </ol>

         <!-- Icon Cards -->
        <div class="row" style="margin-left: auto">
            @* -----------TICKETS COUNT TOP ICON ------------- *@
            <div class="col-xl-3 col-sm-6 mb-3">
                <div class="card text-white bg-primary o-hidden h-100">
                    <div class="card-body">
                        <div class="card-body-icon">
                            <i class="fa fa-fw fa-list"></i>
                        </div>
                        <div class="mr-5">
                            @*26 New Messages!*@
                            @Html.Raw(ticketCount + " tickets")
                        </div>
                    </div>

                    <a href="@Url.Action("Index", "Tickets")" class="card-footer text-white clearfix small z-1">
                        <span class="float-left">View Details</span>
                        <span class="float-right">
                            <i class="fa fa-angle-right"></i>
                        </span>
                    </a>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 mb-3">
                <div class="card text-white bg-warning o-hidden h-100">
                    <div class="card-body">
                        <div class="card-body-icon">
                            <i class="fa fa-fw fa-list"></i>
                        </div>
                        <div class="mr-5">
                            @Html.Raw(projectCount + " projects")
                        </div>
                    </div>
                    <a href="@Url.Action("Create", "Projects")" class="card-footer text-white clearfix small z-1">
                        <span class="float-left">Create New Project</span>
                        <span class="float-right">
                            <i class="fa fa-angle-right"></i>
                        </span>
                    </a>
                </div>
            </div>

        </div>

        @* This is the start of Tables---Project Unassign/Assign To Admin/PM *@
        @* Project Tabs*@
        <ul class="nav nav-tabs">
            <li class="btn btn-outline-info"><a href="#unassignProjects" data-toggle="tab">Unassign Projects</a></li>
            <li class="btn btn-outline-info"><a href="#assignProjects" data-toggle="tab">Assigned Projects</a></li>
            @if (Request.IsAuthenticated)
            {
                if (User.IsInRole("Admin") || User.IsInRole("Project Manager") || User.IsInRole("Guest"))
                {
                    <div class=" btn btn-outline-info"><i class="fa fa-plus"></i>@Html.ActionLink("  Create New", "Create", "Projects")</div>
                }
            }
        </ul>
        <div class="tab-content">
            @* Projects unassign To Admin/PM *@
            <div class="tab-pane active" id="unassignProjects">
                <div class="card mb-3">
                    <div class="card-header">
                        <i class="fa fa-table"></i>
                        Project Unassigned
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered dataTable1" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>Title</th>
                                        <th>Users Assigned</th>
                                        <th>Create</th>
                                        <th>Updated</th>
                                        <th>Functions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        if (!item.Users.Any())
                                        {
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Title)
                                                </td>
                                                <td>
                                                    @foreach (var name in item.Users)
                                                    {
                                                        @name.DisplayName
                                                        <br />
                                                    }
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Created)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Updated)
                                                </td>
                                                <td>                                                 
                                                    @Html.ActionLink("Assign", "ProjectAssign", "Projects", new { id = item.Id }, "") <br>
                                                    @Html.ActionLink("Edit", "Edit", "Projects", new { id = item.Id }, "") <br>
                                                    @Html.ActionLink("Details", "Details", "Projects", new { id = item.Id }, "") <br>
                                                    @Html.ActionLink("Delete", "Delete", "Projects", new { id = item.Id }, "")
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
            @* Projects assign To Admin/PM *@
            <div class="tab-pane" id="assignProjects">
                <div class="card mb-3">
                    <div class="card-header">
                        <i class="fa fa-table"></i>
                        Project Assigned
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered dataTable2" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>Title</th>
                                        <th>Users Assigned</th>
                                        <th>Create</th>
                                        <th>Updated</th>
                                        <th>Functions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        if (item.Users.Any())
                                        {
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Title)
                                                </td>

                                                <td>
                                                    @foreach (var name in item.Users)
                                                    {
                                                        @name.DisplayName
                                                        <br />
                                                    }
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Created)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Updated)
                                                </td>

                                                <td>
                                                    @Html.ActionLink("Assign", "ProjectAssign", "Projects", new { id = item.Id }, "") <br>
                                                    @Html.ActionLink("Edit", "Edit", "Projects", new { id = item.Id }, "") <br>
                                                    @Html.ActionLink("Details", "Details", "Projects", new { id = item.Id }, "") <br>
                                                    @Html.ActionLink("Delete", "Delete", "Projects", new { id = item.Id }, "")
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @*This is the start of Tables---Ticket Unassign/Assign To Admin/Pm *@
        @* Ticket Tabs *@
        <ul class="nav nav-tabs">
            <li class="btn btn-outline-info"><a href="#unassignTickets" data-toggle="tab">Unassign Tickets</a></li>
            <li class="btn btn-outline-info"><a href="#assignTickets" data-toggle="tab">Assigned Tickets</a></li>
        </ul>
        <div class="tab-content">
            @* Tickets unassign To Admin/PM *@
            <div class="tab-pane active" id="unassignTickets">
                <div class="card mb-3">
                    <div class="card-header">
                        <i class="fa fa-table"></i>
                        Ticket Unassigned
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered dataTable3" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>First Name</th>
                                        <th>Assigned User</th>
                                        <th>Priority</th>
                                        <th>Project</th>
                                        <th>Stat</th>
                                        <th>Type</th>
                                        <th>Title</th>

                                        <th>Created</th>
                                        <th>Updated</th>
                                        <th>Functions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        foreach (var ticket in item.Tickets)
                                        {
                                            if ((ticket.Status.Id == 15) || (ticket.AssignedToUser == null))
                                            {
                                                <tr>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => ticket.AuthorUser.FirstName)
                                                    </td>
                                                    <th>
                                                        @Html.DisplayFor(model => ticket.AssignedToUser.DisplayName)
                                                    </th>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => ticket.Priority.Name)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => ticket.Project.Title)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => ticket.Status.Name)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => ticket.Type.Name)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => ticket.Title)
                                                    </td>

                                                    <td>
                                                        @Html.DisplayFor(modelItem => ticket.Created)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => ticket.Updated)
                                                    </td>
                                                    <td>
                                                        @Html.ActionLink("Assign", "TicketAssign", "Tickets", new { id = ticket.Id }, "") <br>
                                                        @Html.ActionLink("Edit", "Edit", "Tickets", new { id = ticket.Id }, "") <br>
                                                        @Html.ActionLink("Details", "Details", "Tickets", new { id = ticket.Id }, "") <br>
                                                        @Html.ActionLink("Delete", "Delete", "Tickets", new { id = ticket.Id }, "")
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="card-footer small text-muted">

                    </div>
                </div>
            </div>
            @* Tickets assign To Admin/PM *@
            <div class="tab-pane" id="assignTickets">
                <div class="card mb-3">
                    <div class="card-header">
                        <i class="fa fa-table"></i>
                        Ticket Assigned
                    </div>
                    <div class="card-body pagination">
                        <div class="table-responsive">
                            <table class="table table-bordered dataTable4" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>First Name</th>
                                        <th>Assigned User</th>
                                        <th>Priority</th>
                                        <th>Project</th>
                                        <th>Stat</th>
                                        <th>Type</th>
                                        <th>Title</th>

                                        <th>Created</th>
                                        <th>Updated</th>
                                        <th>Functions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        foreach (var ticket in item.Tickets)
                                        {
                                            if ((ticket.Status.Id == 17) || (ticket.Status.Id == 18) || (ticket.Status.Id == 19) || (ticket.Status.Id == 20) || (ticket.Status.Id == 21))
                                            {
                                                <tr>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => ticket.AuthorUser.FirstName)
                                                    </td>
                                                    <th>
                                                        @Html.DisplayFor(model => ticket.AssignedToUser.DisplayName)
                                                    </th>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => ticket.Priority.Name)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => ticket.Project.Title)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => ticket.Status.Name)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => ticket.Type.Name)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => ticket.Title)
                                                    </td>

                                                    <td>
                                                        @Html.DisplayFor(modelItem => ticket.Created)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => ticket.Updated)
                                                    </td>
                                                    <td>
                                                        @Html.ActionLink("Assign", "TicketAssign", "Tickets", new { id = ticket.Id, style = "color:Blue" }, "")<br>
                                                        @Html.ActionLink("Edit", "Edit", "Tickets", new { id = ticket.Id }, "") <br>
                                                        @Html.ActionLink("Details", "Details", "Tickets", new { id = ticket.Id }, "") <br>
                                                        @Html.ActionLink("Delete", "Delete", "Tickets", new { id = ticket.Id }, "")
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    }
}
@if (Request.IsAuthenticated)
{
    if (User.IsInRole("Developer"))
    {
        var ticketCount = 0;
        var projectCount = 0;
        foreach (var item in Model)
        {
            foreach (var ticket in item.Tickets)
            {
                if ((item.Users.Any(m => m.UserName == User.Identity.GetUserName()) && ticket.AssignedToUser != null && (ticket.AssignedToUser.UserName == User.Identity.GetUserName())))
                {
                    ticketCount++;
                }

            }
            if (item.Users.Any(m => m.UserName == User.Identity.GetUserName()))
            {
                projectCount++;
            }
        }
         <!-- Breadcrumbs -->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="#">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">My Dashboard</li>
        </ol>

         <!-- Icon Cards -->
        <div class="row">
            @* -----------TICKETS COUNT TOP ICON ------------- *@
            <div class="col-xl-3 col-sm-6 mb-3">
                <div class="card text-white bg-primary o-hidden h-100">
                    <div class="card-body">
                        <div class="card-body-icon">
                            <i class="fa fa-fw fa-comments"></i>
                        </div>
                        <div class="mr-5">
                            @Html.Raw(ticketCount + " tickets")
                        </div>
                    </div>
                    <a href="@Url.Action("Index", "Tickets")" class="card-footer text-white clearfix small z-1">
                        <span class="float-left">View Details</span>
                        <span class="float-right">
                            <i class="fa fa-angle-right"></i>
                        </span>
                    </a>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 mb-3">
                <div class="card text-white bg-warning o-hidden h-100">
                    <div class="card-body">
                        <div class="card-body-icon">
                            <i class="fa fa-fw fa-list"></i>
                        </div>
                        <div class="mr-5">
                            @Html.Raw(projectCount + " projects")
                        </div>
                    </div>
                    <a href="#" class="card-footer text-white clearfix small z-1">
                        <span class="float-left"></span>
                        <span class="float-right">
                            <i class="fa fa-angle-right"></i>
                        </span>
                    </a>
                </div>
            </div>

        </div>

        @* This is the start of Tables---Project Assigned to Developer *@
        @* Project Tabs*@
        <div class="card mb-3">
            <div class="card-header">
                <i class="fa fa-table"></i>
                Project Assigned
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered dataTable1" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>Users Assigned</th>
                                <th>Create</th>
                                <th>Updated</th>
                               
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in Model)
                                    {
                                        if (item.Users.Any(m => m.UserName == User.Identity.GetUserName()))
                                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Title)
                                </td>

                                <td>
                                    @foreach (var name in item.Users)
                                                    {
                                            @name.DisplayName
                                            <br />
                                                    }
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Created)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Updated)
                                </td>
                            </tr>
                                        }
                                    }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        @*This is the start of Tables---Ticket Assigned to Developer *@
        @* Ticket Tabs *@
        <div class="tab-pane">
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fa fa-table"></i>
                    Ticket Assigned
                </div>
                <div class="card-body">
                    <div class="table-responsive ">
                        <table class="table table-bordered dataTable2" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>First Name</th>
                                    <th>Assigned User</th>
                                    <th>Priority</th>
                                    <th>Project</th>
                                    <th>Stat</th>
                                    <th>Type</th>
                                    <th>Title</th>
                                    <th>Created</th>
                                    <th>Updated</th>
                                    <th>Functions</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    foreach (var ticket in item.Tickets)
                                    {
                                        if ((item.Users.Any(m => m.UserName == User.Identity.GetUserName()) && ticket.AssignedToUser != null && (ticket.AssignedToUser.UserName == User.Identity.GetUserName())))
                                        {
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => ticket.AuthorUser.FirstName)
                                                </td>
                                                <th>
                                                    @Html.DisplayFor(model => ticket.AssignedToUser.DisplayName)
                                                </th>
                                                <td>
                                                    @Html.DisplayFor(modelItem => ticket.Priority.Name)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => ticket.Project.Title)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => ticket.Status.Name)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => ticket.Type.Name)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => ticket.Title)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => ticket.Created)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => ticket.Updated)
                                                </td>
                                                <td>
                                                    @Html.ActionLink("Edit", "Edit", "Tickets", new { id = ticket.Id }, "")<br>
                                                    @Html.ActionLink("Details", "Details", "Tickets", new { id = ticket.Id }, "") 
                                                </td>
                                            </tr>
                                        }
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            </div>
            }
            }

            @if (Request.IsAuthenticated)
            {
                if (User.IsInRole("Submitter"))
                {
         <!-- Breadcrumbs -->
                    var ticketCount = 0;
                    var projectCount = 0;
                    foreach (var item in Model)
                    {
                        foreach (var ticket in item.Tickets)
                        {
                            if ((item.Users.Any(m => m.UserName == User.Identity.GetUserName()) && (ticket.AuthorUser.UserName == User.Identity.GetUserName())))
                            {
                            ticketCount++;
                            }
                        }
                        if (item.Users.Any(m => m.UserName == User.Identity.GetUserName()))
                        {
                            projectCount++;
                        }
                    }
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="#">Dashboard</a>
                        </li>
                        <li class="breadcrumb-item active">My Dashboard</li>
                    </ol>

         <!-- Icon Cards -->
                    <div class="row">
                        @* -----------TICKETS COUNT TOP ICON ------------- *@
                        <div class="col-xl-3 col-sm-6 mb-3">
                            <div class="card text-white bg-primary o-hidden h-100">
                                <div class="card-body">
                                    <div class="card-body-icon">
                                        <i class="fa fa-fw fa-comments"></i>
                                    </div>
                                    <div class="mr-5">
                                        @Html.Raw(ticketCount + " tickets")
                                    </div>
                                </div>
                                <a href="@Url.Action("Index", "Tickets")" class="card-footer text-white clearfix small z-1">
                                    <span class="float-left">View Details</span>
                                    <span class="float-right">
                                        <i class="fa fa-angle-right"></i>
                                    </span>
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-3 col-sm-6 mb-3">
                            <div class="card text-white bg-warning o-hidden h-100">
                                <div class="card-body">
                                    <div class="card-body-icon">
                                        <i class="fa fa-fw fa-list"></i>
                                    </div>
                                    <div class="mr-5">
                                        @Html.Raw(projectCount + " projects")
                                    </div>
                                </div>
                                <a href="#" class="card-footer text-white clearfix small z-1">
                                    <span class="float-left"></span>
                                    <span class="float-right">
                                        <i class="fa fa-angle-right"></i>
                                    </span>
                                </a>
                            </div>
                        </div>

                    </div>

                    @* This is the start of Tables---Project Assigned To Submitter *@
                    @* Project Tabs*@
                    <div class="card mb-3">
                        <div class="card-header">
                            <i class="fa fa-table"></i>
                            Project Assigned
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered dataTable1" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Title</th>
                                            <th>Users Assigned</th>
                                            <th>Create</th>
                                            <th>Updated</th>
                                            <th>Functions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                            {
                                if (item.Users.Any(m => m.UserName == User.Identity.GetUserName()))
                                {
                                                <tr>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Title)
                                                    </td>

                                                    <td>
                                                        @foreach (var name in item.Users)
                                                        {
                                                            @name.DisplayName
                                                            <br />
                                                        }
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Created)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Updated)
                                                    </td>
                                                    <td>
                                                        @Html.ActionLink("New Ticket", "Create", "Tickets", new { id = item.Id }, "")
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>

                    @*This is the start of Tables---Ticket Unassign/Assign To Admin/Pm *@
                    @* Ticket Tabs *@
                    <div class="card mb-3">
                        <div class="card-header">
                            <i class="fa fa-table"></i>
                            Ticket Assigned
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered dataTable2" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>First Name</th>
                                            <th>Assigned User</th>
                                            <th>Priority</th>
                                            <th>Project</th>
                                            <th>Stat</th>
                                            <th>Type</th>
                                            <th>Title</th>

                                            <th>Created</th>
                                            <th>Updated</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                            {
                                foreach (var ticket in item.Tickets)
                                {
                                    if ((item.Users.Any(m => m.UserName == User.Identity.GetUserName()) && (ticket.AuthorUser.UserName == User.Identity.GetUserName())))
                                    {
                                                    <tr>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => ticket.AuthorUser.FirstName)
                                                        </td>
                                                        <th>
                                                            @Html.DisplayFor(model => ticket.AssignedToUser.DisplayName)
                                                        </th>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => ticket.Priority.Name)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => ticket.Project.Title)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => ticket.Status.Name)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => ticket.Type.Name)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => ticket.Title)
                                                        </td>

                                                        <td>
                                                            @Html.DisplayFor(modelItem => ticket.Created)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => ticket.Updated)
                                                        </td>
                                                        <td>
                                                            @Html.ActionLink("Details", "Details", "Tickets", new { id = ticket.Id }, "")<br>
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                }
            }
 <script>
$(document).ready(function () {
    $(".dataTable1").dataTable();
});
$(document).ready(function () {
    $('.dataTable2').dataTable();
});
$(document).ready(function () {
    $(".dataTable3").dataTable();
});
$(document).ready(function () {
    $('.dataTable4').dataTable();
});
</script>
